{% extends 'base.html' %}
{% block title %}Темы{% endblock %}
{% block body %}
    <main role="main">
        <div class="album py-5">
            <div class="container">
                {% for mention in mentions %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body" data-toggle="collapse" href="#body_{{ mention.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <p class="card-text">{{ mention.published }}</p>
                                </div>
                                <div class="collapse" id="body_{{ mention.id }}">
                                    <div class="card-body">
                                         <pre class="prettyprint">
                                             {{ mention.data|pprint }}
                                         </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?{{ page_obj.previous_page_number.querystring }}">&lsaquo;&lsaquo; туда</a></li>
                        {% endif %}
                        {% for page in page_obj.pages %}
                            {% if page %}
                                {% ifequal page page_obj.number %}
                                    <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li class="page-item"><a class="page-link" href="">...</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?{{ page_obj.next_page_number.querystring }}">сюда &rsaquo;&rsaquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </main>
{% endblock %}