{% extends 'base.html' %}
{% block title %}Темы{% endblock %}
{% block body %}
    <main role="main">
      <div class="album py-5">
        <div class="container">

          <div class="row">
            {% for theme in themes %}
                <div class="col-md-12">
                  <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <a href="/theme/{{theme.id}}/"><p class="card-text">{{ theme.name }}</p></a>
                    </div>
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>
{% endblock %}